<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link href="/styles.css" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<h1>Welcome to the Cookiedoughm.</h1>
<ul>
    <li th:each="cookie: ${cookies}" th:text="${cookie}"></li>
</ul>


<form method="post" action="/add-cookie">
    <label for="diameter">Diameter:</label>
    <input type="number" name="diameter" id="diameter"/>

    <label for="glutenFree">Gluten Free?</label>
    <input type="checkbox" name="glutenFree" id="glutenFree" />

    <label for="chocolateChip">Chocolate Chip?</label>
    <input type="checkbox" name="chocolateChip" id="chocolateChip"/>

    <label for="containsNuts">Contains Nuts?</label>
    <input type="checkbox" name="containsNuts" id="containsNuts"/>


    <input type="submit" value="MMM DELICIOUS COOKIES" />
</form>




<h1>PURCHASE COOKIES</h1>
<form action="/buy-cookie" method="post">
    <label for="buyCookieId">Cookie ID:</label>
    <input type="number" name="id" id="buyCookieId" />
    <input type="submit" value="make purchase" />
</form>

<h1>PREVIOUSLY PURCHASED COOKIES</h1>
<ul>
    <li th:each="cookie: ${cookieSales}" th:text="${cookie}"></li>
</ul>

</body>

</html>